@keyframes blurIn {
    from {
        filter: blur(24px);
        transform-origin: center;
        transform: scaleY(0);
    }

    to {
        filter: none;
        transform: none;
    }
}

.blurIn {
    animation-name: blurIn;
}
